.terms-section {
  font-family: 'Segoe UI', sans-serif;
  padding: 40px 20px;
  max-width: 800px;
  margin: 90px auto 40px auto;
  color: black;
  background-color: #ffffff; 
}

.terms-heading {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: black
}

.terms-intro {
  font-size: 1rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

.terms-list {
  list-style: decimal;
  padding-left: 20px;
  font-size: 1rem;
  line-height: 1.7;
}

.terms-list li {
  margin-bottom: 25px;
}

.terms-list h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: black
}

.terms-list ul {
  list-style: disc;
  padding-left: 20px;
  margin-top: 5px;
}

.terms-list ul li {
  margin-bottom: 8px;
}
